SPNDEX_PRIMARY.ENV=local

SPNDEX_SERVER.PORT=8080
SPNDEX_SERVER.READ_TIMEOUT=30
SPNDEX_SERVER.WRITE_TIMEOUT=30
SPNDEX_SERVER.IDLE_TIMEOUT=60
SPNDEX_SERVER.CORS_ALLOWED_ORIGINS=http://localhost:3001

SPNDEX_DATABASE.HOST=localhost
SPNDEX_DATABASE.PORT=5432
SPNDEX_DATABASE.USER=
SPNDEX_DATABASE.PASSWORD=
SPNDEX_DATABASE.NAME=
SPNDEX_DATABASE.SSL_MODE=disable
SPNDEX_DATABASE.MAX_OPEN_CONNS=25
SPNDEX_DATABASE.MAX_IDLE_CONNS=25
SPNDEX_DATABASE.CONN_MAX_LIFETIME=300
SPNDEX_DATABASE.CONN_MAX_IDLE_TIME=300

SPNDEX_AUTH.SECRET_KEY="your_secret_:)"
SPNDEX_AUTH.TTL_HOURS=6

TERN_DSN="host=localhost port=5432 dbname= user= password="

SPNDEX_REDIS.ADDRESS="redis://localhost:6379"

SPNDEX_OBSERVABILITY.SERVICE_NAME=spndex
SPNDEX_OBSERVABILITY.ENVIRONMENT=development

SPNDEX_OBSERVABILITY.LOGGING.LEVEL=debug
SPNDEX_OBSERVABILITY.LOGGING.FORMAT=json

SPNDEX_OBSERVABILITY.NEW_RELIC.LICENSE_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SPNDEX_OBSERVABILITY.NEW_RELIC.APP_LOGS_FORWARDING_ENABLED=true
SPNDEX_OBSERVABILITY.NEW_RELIC.DISTRIBUTED_TRACING_ENABLED=true
SPNDEX_OBSERVABILITY.NEW_RELIC.DEBUGLOGGER=false

SPNDEX_OBSERVABILITY.HEALTH_CHECKS.CHECKS=databse,redis
SPNDEX_OBSERVABILITY.HEALTH_CHECKS.ENABLED=true
SPNDEX_OBSERVABILITY.HEALTH_CHECKS.INTERVAL=30s
SPNDEX_OBSERVABILITY.HEALTH_CHECKS.TIMEOUT=5s
